html {
	width: 92%;
    margin-top: 0;
	margin-left: 4%;
	margin-right: 4%;
}

body{
    background-color:#20B2AA;	
}

div.wrapper, footer {
	width: 90%;
	margin: auto;
	background: #fff;
	overflow: auto;
	font-family: sans-serif;
}
link {
	color: cornflowerblue;
}
main.wrapper {
    background-color:#fff;
    overflow:auto;
}

h1>a {
	text-align: right;
    text-decoration: none;
    color:#666;
	padding: 1em;
}
.h1al {
	text-align: center;
	font-family: sans-serif;
    font-size: 3em;
	color: #008B8B;
}

h2 {
	text-align: left;
	font-family: sans-serif;
	margin-left:4%;
	color: #008B8B;
}

h3 {
	text-align: center;
	font-family: sans-serif;
	margin-left:4%;
}

h4 {
	text-align: left;
	font-family: sans-serif;
	margin-left:4%;
	margin-right:4%;
}

p {
	margin:1em .8em;
}

hr {
	width: 90%;
}
header h1{
	text-align: right;
	margin-right: 2%;	
}


.psec {
	margin-left: 5%;
	color: #666;
	width: 90%;
	font-family: sans-serif;
	line-height: 1.5em;
	text-align: justify;
	padding: 5px;
}

.marg {
	margin-left: 50%;
	
}

ol.d {
  list-style-type: number;
}

.lisub {
	width: 90%;		
}

.logo {
    color:blueviolet;
    text-align: center;
    text-shadow:1px 1px blueviolet;
    width: 50%;
	height: 50%;
}

#dsecond {
	background-color: #E0FFFF;
	background-size: 95%;
}

#pmar {
	margin: auto;
	color: #666;
	width: 90%;
	font-family: sans-serif;
	line-height: 1.5em;
	text-align: justify;
	margin-left:5%;
}
#ques {
	margin: auto;
	color: #0d5e5e;
	font-weight: bold;
	width: 90%;
	font-family: sans-serif;
	line-height: 1.5em;
	text-align: justify;
	margin-left:5%;
}

#sub {
	text-align: right;
	font-family: sans-serif;
	margin-right:4.5%;
	color:darkblue;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 66.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}

footer {
	clear:both;
	text-align: center;
}
footer p{
	padding: 2em 0 1em 0;
	margin left: 50%;
}

a{
	color:cadetblue;
	text-decoration: none;
}

input {
  color: gray;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
}

footer a:hover{
	color: aliceblue;
	background-color: black;
}

/* START RESPONSIVE STYLES */

   div.wrapper, footer {
		width:80%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
		padding: 5px;
		color: #666;
		font-family: sans-serif;
	}
	
     aside {	
		width:34%;
		float:right;
		color: #666;
	}
			
    img.desktop {
      		float:right;
       		width:50%;
            display:inline-block;			
    }
    
    img.tablet, img.phone {
       	display:none;
    	}  
	
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #ccc;
        		color:#008B8B;
   	 }
}

/* Hide agenda view of calender */
div.embed-container.phone {
	display: none;
}
		
/* PHONE */
@media all and (max-width:1440px) {
    
	div.wrapper {
		background-color: cornsilk; 
	}

	/* Hide month view of calender */
	div.embed-container.desktop {
		display: none;
	}
	
	.dropbtn {
  background-color: fff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
